<!-- This component defines the style of the menu accessible from all views. -->
<theme>
  <formatVersion>7</formatVersion>
  <view name="menu">
    <menuBackground name="menubg">
      <color>${menuBackgroundColor}</color>
      <cornerSize>20 20</cornerSize>
    </menuBackground>
    <menuText name="menutitle">
      <fontPath>./_inc/fonts/Raleway-SemiBold.ttf</fontPath>
      <fontSize>0.041</fontSize>
      <color>${menuTitleColor}</color>
    </menuText>
    <menuGroup name="menugroup">
      <fontPath>./_inc/fonts/Raleway-SemiBold.ttf</fontPath>
      <fontSize>0.034</fontSize>
      <color>${menuGroupColor}</color>
      <separatorColor>${menuGroupSeparatorColor}</separatorColor>
      <backgroundColor>00000000</backgroundColor>
    </menuGroup>
    <menuText name="menutext">
      <fontPath>./_inc/fonts/Raleway-Regular.ttf</fontPath>
      <fontSize>0.03</fontSize>
      <color>${menuTextColor}</color>
      <separatorColor>${menuTextSeparatorColor}</separatorColor>
      <selectedColor>${menuSelectedColor}</selectedColor>
      <selectorColor>${menuSelectorColor}</selectorColor>
    </menuText>
    <menuTextSmall name="menutextsmall">
      <fontPath>./_inc/fonts/Gilroy-Regular.ttf</fontPath>
      <fontSize>0.025</fontSize>
      <color>${menuTextColor}</color>
    </menuTextSmall>
    <menuText name="menufooter">
      <fontPath>./_inc/fonts/Gilroy-Regular.ttf</fontPath>
      <fontSize>0.024</fontSize>
      <color>${menuFooterColor}</color>
    </menuText>
    <menuTextEdit name="menutextedit">
      <inactive>./_inc/icons/menu-textinput.png</inactive>
      <active>./_inc/icons/menu-textinput-active.png</active>
    </menuTextEdit>
    <menuIcons name="menuicons">
      <iconSystem>./_inc/icons/menu-icon-system.svg</iconSystem>
      <iconUpdates>./_inc/icons/menu-icon-update.svg</iconUpdates>
      <iconControllers>./_inc/icons/menu-icon-controller.svg</iconControllers>
      <iconGames>./_inc/icons/menu-icon-games.svg</iconGames>
      <iconUI>./_inc/icons/menu-icon-ui.svg</iconUI>
      <iconSound>./_inc/icons/menu-icon-sound.svg</iconSound>
      <iconNetwork>./_inc/icons/menu-icon-network.svg</iconNetwork>
      <iconScraper>./_inc/icons/menu-icon-scraper.svg</iconScraper>
      <iconAdvanced>./_inc/icons/menu-icon-advanced.svg</iconAdvanced>
      <iconQuit>./_inc/icons/menu-icon-quit.svg</iconQuit>
      <iconRetroachievements>./_inc/icons/menu-icon-achievements.svg</iconRetroachievements>
      <iconKodi>./_inc/icons/menu-icon-kodi.svg</iconKodi>
      <iconRestart>./_inc/icons/menu-icon-restart.svg</iconRestart>
      <iconShutdown>./_inc/icons/menu-icon-shutdown.svg</iconShutdown>
      <iconFastShutdown>./_inc/icons/menu-icon-shutdown.svg</iconFastShutdown>
    </menuIcons>
  </view>
</theme>
